<html lang="es">
<head>
<meta charset="UTF-8">	
<script src="../models/rocket.js"></script>
<script src="../models/thruster.js"></script>
<script src="../controllers/controller.js"></script>
 <link rel="stylesheet" href="style.css" type="text/css" media="all">
</head>
<body>
	<h1>Rockets!</h1>
   <button class="create" onclick="createRocket1()">Create Rocket 1</button>
   <button class="create" onclick="createRocket2()">Create Rocket 2</button>
   <button class="accelerate" onclick="accelerateRocket1()">Accelerate Rocket 1</button>
   <button class="accelerate" onclick="accelerateRocket2()">Accelerate Rocket 2</button>
   <button class="break" onclick="breakRocket1()">Break Rocket 1</button>
   <button class="break" onclick="breakRocket2()">Break Rocket 2</button>
   <button class="print" onclick="printRocket1()">Print Rocket 1</button>
   <button class="print" onclick="printRocket2()">Print Rocket 2</button>
   <button class="print" onclick="printAllRocket()">Print All Rockets</button>
   <hr>
   <div id="createdRockets" class="three-columns">
        <div id="Rocket1"></div><br>
        <div id="Rocket2"></div>
   </div>
</body>
</html>