<html lang="es">
<head>
<meta charset="UTF-8">	
<script src="../models/rocket.js"></script>
<script src="../models/thruster.js"></script>
<script src="../controllers/controller.js"></script>
 <link rel="stylesheet" href="style.css" type="text/css" media="all">
</head>
<body>
	<h1>Rockets!</h1>
   <button class="create" onclick="createRocket('32WESSDS', 3, 10, 30, 80)">Create Rocket 1</button>
   <button class="create" onclick="createRocket('LDSFJA32', 6, 30,40,50,50,30,10)">Create Rocket 2</button>
   <button class="accelerate" onclick="accelerateRocket()">Accelerate Rocket 1</button>
   <button class="accelerate" onclick="accelerateRocket()">Accelerate Rocket 2</button>
   <button class="break" onclick="breakRocket()">Break Rocket 1</button>
   <button class="break" onclick="breakRocket()">Break Rocket 2</button>
   <button class="print" onclick="createRocket('32WESSDS', 3, 10, 30, 80)">Print Rocket 1</button>
   <button class="print" onclick="createRocket('LDSFJA32', 6, 30,40,50,50,30,10)">Print Rocket 2</button>
   <button class="print" onclick="printRocket()">Print All Rockets</button>
   <hr>
   <div id="createdRockets" class="three-columns">
        <div id="Rocket1"></div><br>
        <div id="Rocket2"></div>
   </div>
</body>
</html>