    html {
        line-height: 1;
        border: black 2px solid;
        padding: 5px;
        width: 40%;
        height: 350px;
    }
 
    h1 {
        margin: 20px;
    }

    button {
        border: none;
        color: white;
        margin: 5px;
        border-radius: 5px;
        padding: 12px;
    }

    .create {
        
        width: 220px;
        background-color: #0087fb;
    }
    .accelerate {
        
        width: 220px;
        background-color: #1ec600;
    }    
    .break {
        
        width: 220px;
        background-color: #fb0000;
    }
    .print {
        
        width: 142px;
        background-color: #6B7363;
    }